
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding-bottom: 5rem;
}

.nav-links {
    display: flex;
    text-decoration: none;
    color: white;
}