.home-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: 500px;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2rem;
    text-align: center;
    background-color: lightgrey;

}

img {
    width: 10vw;
    border-radius: 75px;
}

.image {
    display: flex;
    justify-content: center;
}

.home-page h3 {
    text-decoration: underline;
}